@using System.Data
@using BlazorComplator.Factory
@using BlazorComplator.Factory.Interfice
@using BlazorComplator.Factory.Resault

<MudPaper Class="d-flex justify-start flex-grow-1 gap-4" Style="width:30%;" Elevation="0">
    <MudSelect T="string" @bind-Value="getDb" Margin="Margin.Dense" Label="Db List" Variant="Variant.Outlined">
        @foreach (var item in connector.GetDatabases())
        {
            <MudSelectItem T="string" Value="@item" />
        }

    </MudSelect>


    <MudButton OnClick="QueryRun" Variant="Variant.Outlined" Color="Color.Success">Execute</MudButton>
</MudPaper>



<MudTextField Label="Query" @bind-Value="@QueryResult" Variant="Variant.Filled" Lines="22" Style="@($"background-color:{Colors.Grey.Lighten5}")"></MudTextField>
<hr />

<MudSimpleTable Style="@($"overflow-x: auto; height:405px;background-color: {Colors.Grey.Lighten4};")">
    <thead>
        <tr>
            @foreach (var col in dataTable.Columns)
            {
                <th>@col</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in dataTable.Rows)
        {
            <tr>
                @foreach (var cell in row.Data)
                {
                    <td>@cell</td>
                }
            </tr>
        }
    </tbody>
</MudSimpleTable>





@code {


    [Parameter]
    public string? ConString { get; set; }

    [Parameter]
    public string? ConnectorType { get; set; }

    private IConnector connector { get; set; }

    private ResaultSet dataTable = new ResaultSet();
    private string? QueryResult { get; set; }
    private string? getDb { get; set; }

    private List<string> getDbList = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        connector = ConnectorFactory.GetConnector(ConnectorType, ConString);        

    }

    private void QueryRun()
    {
        dataTable = connector.ExecuteQuery(getDb, QueryResult);
        StateHasChanged();
    }


}
